.div-options{
	width: 100%;
	background: #fff;
	padding: 9px;
	border-radius: 5px;
	border: 1px solid #ccc;
}


@media (max-width: 1920px){
	#options{
		display: none;
	}
}

@media (max-width: 858px){
	#options{
		display: block;
	}
}